[Unit]
Description=lard ingestion service
Requires=postgresql@17-main.service

[Service]
User=lard
Group=lard
WorkingDirectory=/home/ubuntu/lard-data
EnvironmentFile=/etc/systemd/lard.var
ExecStart=/usr/local/bin/lard_ingestion {{ deploy_kafka_group }}
Restart=on-failure

[Install]
WantedBy=multi-user.target
