[Unit]
Description=lard ingestion service

[Service]
User=lard
Group=lard
WorkingDirectory=/usr/local/bin
EnvironmentFile=/etc/systemd/lard_ingestion.var
ExecStart=/usr/local/bin/lard_ingestion lard
Restart=on-failure

[Install]
WantedBy=multi-user.target
