[Unit]
Description=lard egress service
Requires=postgresql@17-main.service

[Service]
User=lard
Group=lard
WorkingDirectory=/usr/local/bin
EnvironmentFile=/etc/systemd/lard.var
ExecStart=/usr/local/bin/lard_egress
Restart=on-failure

[Install]
WantedBy=multi-user.target
